body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  line-height: 21px;
  overflow-x: hidden;
}

input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}

.object {
  list-style-type: none;
}

.link {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus,
.link:active {
  color: #404bbf;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

img,
.icon {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.section {
  padding: 96px 0;
}
.container {
  min-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.top-line {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.top-line .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.studio-top {
  color: #2e2f42;
}

.menu-btn {
  margin-right: 0;
  background-color: transparent;
  border: none;
  display: block;
  cursor: pointer;
  min-width: 24px;
  height: 24px;
  transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu {
  display: none;
}

.contacts {
  display: none;
}

.menu-btn-wrap {
  display: flex;
  flex-direction: column;
  gap: 3.6px;
}

.menu-overlay {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.top-menu-modal {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  padding: 72px 16px 40px 16px;
  width: 320px;
  height: 100vh;
}

.btn-modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon.modal-close {
  fill: inherit;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close:hover,
.btn-modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.btn-modal-close:hover .icon.modal-close,
.btn-modal-close:focus .icon.modal-close {
  fill: #ffffff;
}

.mobil-menu {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}

.mobil-menu .link {
  color: #404bbf;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobil-menu .link:not(.active) {
  color: #2e2f42;
}

.mobil-menu .link:hover,
.mobil-menu .link:focus,
.mobil-menu .link:active {
  color: #404bbf;
}

.mobile-contact-types {
  font-style: normal;
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  margin-bottom: 48px;
}

.-mobile-contact-link {
  color: #4d5ae5;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contact-link:not(.active) {
  color: #434455;
}

.mobile-contact-link:hover,
.mobile-contact-link:focus,
.mobile-contact-link:active {
  color: #4d5ae5;
}

.menu-socials {
  display: flex;
  gap: 40px;
}

.studio-socials-ground .icon-link:hover,
.studio-socials-ground .icon-link:focus {
  background-color: #31d0aa;
}

.hero-image {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  padding: 72px 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 320px;
}

.headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 72px;
  max-width: 216px;
}

.btn {
  background-color: #4d5ae5;
  border: none;
  display: block;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background-color: #404bbf;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.btn:active,
.btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .container {
    min-width: 768px;
  }

  .menu-btn {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .top-line {
    margin-bottom: 0;
    padding: 0;
  }

  .top-line .container {
    gap: 120px;
  }
  .navigation {
    padding-top: 24px;
    gap: 120px;
    align-items: baseline;
  }

  .menu {
    display: inline-block;
    font-weight: 500;
    display: flex;
    gap: 40px;
    width: 261px;
  }

  .menu .object {
    width: calc((100% - 80px) / 3);
  }

  .menu .link {
    color: #404bbf;
    padding-bottom: 24px;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu .active {
    position: relative;
  }

  .menu .active::after {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    height: 4px;
    background-color: #404bbf;
    content: "";
  }

  .menu .link:not(.active) {
    color: #2e2f42;
  }

  .menu .link:hover,
  .menu .link:focus,
  .menu .link:active {
    color: #404bbf;
  }

  .contacts {
    display: inline-block;
    margin-right: 0;
    padding: 16px 0;
  }

  .contact-types {
    font-style: normal;
    flex-direction: column-reverse;
    display: flex;
    gap: 12px;
  }

  .contact-link {
    padding: 0;
    color: #2e2f42;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .hero-image {
    padding: 112px 0;
    min-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office1.jpg);
  }
  .headline {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.our-values {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.icon-ground {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.value {
  margin-bottom: 8px;
}

.value {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.value-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.staff {
  background-color: #f4f4fd;
  padding: 96px 12px;
}

.staff .sub-headline,
.portfolio .sub-headline {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.staff-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding: 0 12px;
}

.staff-card {
  background-color: #fff;
  text-align: center;
  border-radius: 0 0 4px 4px;
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.staff-member {
  padding: 32px 0;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
}

.staff-name,
.project {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.staff-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.staff-socials {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.staff-socials-ground,
.studio-socials-ground {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.staff-socials-ground .icon,
.studio-socials-ground .icon {
  fill: #f4f4fd;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  width: 100%;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-default {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project {
  margin-bottom: 8px;
  text-align: left;
}

.project-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-ending {
  background-color: #2e2f42;
  padding: 96px 0;
}

.page-ending-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.page-ending-left {
  display: flex;
  flex-direction: column;
}

.page-ending .link {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-lower {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  text-align: center;
}

.studio-bottom {
  color: #f4f4fd;
}

.slogan {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-ending-center {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.ending-socials {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.studio-socials {
  display: flex;
  gap: 16px;
  margin: 0 auto;
}

.studio-socials-ground .icon-link:hover,
.studio-socials-ground .icon-link:focus {
  background-color: #31d0aa;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: baseline;
}

.subscriber-email {
  background-color: transparent;
  border: 1px solid #ffffff;
  opacity: 0.3;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 16px;
}

.subscriber-email::placeholder {
  color: #ffffff;
  opacity: 0.6;
}

.btn.subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.subscribe-icon {
  margin-left: 16px;
  margin-right: 0;
  fill: #fff;
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  width: 288px;
  min-height: 623px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon.modal-close {
  fill: inherit;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close:hover,
.btn-modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.btn-modal-close:hover .icon.modal-close,
.btn-modal-close:focus .icon.modal-close {
  fill: #ffffff;
}

.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.input-wrapping {
  margin-bottom: 8px;
}

.field-label {
  display: block;
  font-size: 12px;
  color: #8e8f99;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  margin-bottom: 4px;
}

.input-combo {
  position: relative;
}

.form-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within {
  border-color: #4d5ae5;
}

.icon-form {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within + .icon-form {
  fill: #4d5ae5;
}

.textarea-wrapping {
  margin-bottom: 16px;
}

.form-comment {
  height: 120px;
  font-size: 12px;
  color: rgba(46, 47, 66, 0.4);
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  padding: 8px 16px;
}

.consent-wrapping {
  margin-bottom: 24px;
}

.consent-label {
  font-size: 12px;
  color: #8e8f99;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
}

.check-ground {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden:checked + .consent-label > .check-ground {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.consent-summary {
  display: inline-flex;
  flex-direction: column;
}

.policy-link {
  color: #4d5ae5;
  line-height: 1.33;
}

.btn.modal-btn {
  margin-top: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
